{% load static %}
!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}

    %title {% block title %}Quora - A place to share knowledge and better understand the world.{% endblock %}
    %link{:href => "{% static 'quora/img/favicon.png' %}", :rel => "icon"}
    
    <!--Import Google Icon Font-->
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    <!-- Import materialize.css -->
    %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css", :type => "text/css", :media => "screen,projection"}

    <!--Import jQuery before materialize.js-->
    %script{:type => "text/javascript", :src => "https://code.jquery.com/jquery-3.2.1.min.js"}
    %script{:type => "text/javascript", :src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"}
    
    %script
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

  %body
    .container
      {% block content %}

      {% endblock %}

  {% block script %}

  {% endblock %}
