{% extends 'quora/common/base.haml' %}

{% block content %}
%h2
  Welcome to Quora!
  %span.icon-emo-happy
%p.lead
%hr
%h3 What's this about?
%p This Django application is an example I created to practice my Django skills. This is an attempt to showcase Django skills by cloning Quora
%p Want to run this code locally?
  %a{:href => "https://github.com/gnsharma/django-hospital-app"}Clone this repository and start django server
%p.mb-0 Govind Sharma
  %br
  %a{:href => "https://github.com/gnsharma/"}Github
{% endblock %}
