{% extends 'quora/common/base.haml' %}

{% block content %}

.row
.row
.row
.row
.row
  .col.s2
  .col.s8.m8.l8
    .card.large
      %p{:style => "padding-bottom:8px"}
      %h1.center-align.red-text.text-darken-4
        Quora
      %h5.center-align.grey-text.text-lighten-1
        A place to share knowledge and better understand the world
      
      %p
        &nbsp;
      .row
        .col.s5.offset-s1
          %a.btn.red.darken-2{:href => "{% url 'social:begin' 'google-oauth2' %}" } Continue with Google
          %p
            %a{:href => "{% url 'quora:signup' %}" } Continue With Email. 
            By signing up you indicate that you have read and agree to the Terms of Service and Privacy Policy.      
        .col.s5
          {% include 'quora/common/login.haml' %}
        .col.s1

{% endblock %}
