{% extends 'quora/common/base.haml' %}

{% block content %}

.row{:style => "margin-top:100px"}
  .col.s2
  .col.s8.m8.l8.z-depth-2
      %p{:style => "padding-bottom:8px"}
      %h1.center-align.red-text.text-darken-4
        Quora
      %h5.center-align.grey-text.text-lighten-1
        A place to share knowledge and better understand the world
      
      %p
        &nbsp;
      .row
        .col.s12
          %form{:action => "{% url 'quora:signup' %}", :method => "post"}
            {% csrf_token %}
            {% for field in form %}
            .input-field
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
              {% if field.help_text %}
              %p.help {{ field.help_text|safe }}
              {% endif %}
            {% endfor %}
            %button.btn.blue.darken-3{:type => "submit"}Sign up

{% endblock %}
