{% extends 'quora/common/base.haml' %}

{% load filter_votes_tag %}

{% block content %}

{% include 'quora/feed/navbar.haml' %}

.row
  {% include 'quora/feed/sidebar.haml' %}
  .col.s9
    {% if questions %}
    {% for question in questions %}
    .card
      .card-content
        %span.card-title
          %a{:href => "{% url 'quora:question' %}?id={{ question.id | urlencode }}" } {{ question.question_text }}
      .card-action

        {% filter_votes question.questionvotes_set request.user as votes %}
        {% if votes.vote_obj == None or votes.vote_obj.value == 0 %}
        %a.btn.small.indigo.lighten-5.blue-text{:id => "upvote_{{ question.id }}" } Upvote | {{ votes.up_count }} 
        %a.btn.small.z-depth-1.grey.lighten-5.grey-text{:id => "downvote_{{ question.id }}" } Downvote | {{ votes.down_count }}
        {% elif votes.vote_obj.value == 1 %}
        %a.btn.small.grey.lighten-3.grey-text{:id => "upvote_{{ question.id }}" } Upvoted | {{ votes.up_count }}
        %a.btn.small.z-depth-1.grey.lighten-5.grey-text{:id => "downvote_{{ question.id }}" } Downvote | {{ votes.count }}
        {% elif votes.vote_obj.value == -1 %}
        %a.btn.small.indigo.lighten-5.blue-text{:id => "upvote_{{ question.id }}" } Upvote | {{ votes.up_count }}
        %a.btn.small.z-depth-1.grey.lighten-3.grey-text{:id => "downvote_{{ question.id }}" } Downvoted | {{ votes.down_count }}
        {% endif %}
        
        %a.right.btn.indigo.blue-text.lighten-5{:href => "{% url 'quora:add-answer' question.id %}" } 
          %i.material-icons create
          Answer
    {% endfor %}

    {% else %}
    %p There are currently no questions on this topic.
    {% endif %}

{% endblock %}

{% block script %}

{% include 'quora/feed/voting.haml' with url='/vote/question' %}

{% endblock %}
