{% extends 'quora/common/base.haml' %}

{% block content %}
%nav
  .nav-wrapper
    %a.brand-logo.left{:href => "{% url 'quora:home' %}" }Quora 
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "{% url 'quora:home' %}" } Home
      %li
        %a{:href => "{% url 'quora:logout' %}" } Logout

.row
  .col.s3
    %p
      Feeds
    .divider  
    %p
      Latest Questions
  .col.s9
    {% if questions %}
    {% for question in questions %}
    .card
      .card-content
        %span.card-title
          %a{:href => "{% url 'quora:question' question.id %}" } {{ question.question_text }}
    {% endfor %}

    {% else %}
    %p There are currently no new questions.
    {% endif %}

{% endblock %}
