{% extends 'quora/common/base.haml' %}

{% block content %}
%nav
  .nav-wrapper
    %a.brand-logo.left{:href => "{% url 'quora:home' %}" } Quora 
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "{% url 'quora:home' %}" } Home
      %li
        %a{:href => "{% url 'quora:logout' %}" } Logout

.row
  .col.s3
    %p
      Feeds
    .divider  
    %p
      Latest Questions
  .col.s9
    {% if questions %}
    {% for question in questions %}
    .card
      .card-content
        %span.card-title
          %a{:href => "{% url 'quora:question' question.id %}" } {{ question.question_text }}
      .card-action
        %a.btn.small.indigo.lighten-5.blue-text{:id => "upvote_{{ question.id }}" } Upvote | {{ question.votes }}
        %a.btn-flat.grey-text.lighten-2{:id => "downvote_{{ question.id }}" } Downvote
        %a.right.btn.indigo.blue-text.lighten-5{:href => "{% url 'quora:home' %}" } 
          %i.material-icons create
          Answer
    {% endfor %}

    {% else %}
    %p There are currently no new questions.
    {% endif %}

{% endblock %}

{% block script %}

%script
  $(document).ready(function() {
    $("a[id^='upvote_']").click(function() {
      
      var id = parseInt(this.id.replace("upvote_", ""), 10);
      var vote_type = 'up';
      
      $.ajax( { 
        type: 'POST', 
        url: '/vote/question/', 
        data: { 'csrfmiddlewaretoken': csrftoken, id: id, type: vote_type}, 
        success: function(response) {
          if (Number.isInteger(parseInt(response))) {
            $("a#upvote_" + id).text('Upvote | ' + response);
            Materialize.toast('Question upvoted', 2000);
          }
        } 
      });
      return false;
    });
  });  
  
  $(document).ready(function() {
    $("a[id^='downvote_']").click(function() {
          
      var id = parseInt(this.id.replace("downvote_", ""), 10);
      var vote_type = 'down';
        
      $.ajax( {
        type: 'POST',
        url: '/vote/question/', 
        data: { 'csrfmiddlewaretoken': csrftoken, id: id, type: vote_type}, 
        success: function(response) {
          if (Number.isInteger(parseInt(response))) {
            $("a#upvote_" + id).text('Upvote | ' + response);
            Materialize.toast('Question downvoted', 2000);
          }
        }
      });
    });
  });  








{% endblock %}
