{% extends 'quora/common/base.haml' %}

{% load filter_votes_tag %}

{% block content %}

{% include 'quora/feed/navbar.haml' %}

.row
  {% include 'quora/feed/sidebar.haml' %}
  .col.s9
    .section
      %h5 {{ question.question_text }}
    .divider
    .section.center
      %i.material-icons person
      %p
        %strong {{request.user.username|capfirst}}, can you answer this question?
      %p People are searching for a better answer to this question
      %a.btn.indigo.blue-text.lighten-5{:href => "{% url 'quora:add-answer' question.id %}" } 
        %i.material-icons create
        Answer
    %h6 
      %strong {{ question.answer_set.all.count }} Answer{{question.answer_set.all.count|pluralize}}
    .divider
    {% for answer in question.answer_set.all %}
    .section
      %h5 
        %i.material-icons person 
        {{answer.user.username}}
      %p
        {{ answer.answer_text }}
      
      {% filter_votes answer.answervotes_set request.user as votes %}
      {% if votes.vote_obj == None or votes.vote_obj.value == 0 %}
      %a.btn.small.indigo.lighten-5.blue-text{:id => "upvote_{{ answer.id }}" } Upvote | {{ votes.up_count }}
      %a.btn.small.z-depth-1.grey.lighten-5.grey-text{:id => "downvote_{{ answer.id }}" } Downvote | {{ votes.down_count }}
      {% elif votes.vote_obj.value == 1 %}
      %a.btn.small.grey.lighten-3.grey-text{:id => "upvote_{{ answer.id }}" } Upvoted | {{ votes.up_count }}
      %a.btn.small.z-depth-1.grey.lighten-5.grey-text{:id => "downvote_{{ answer.id }}" } Downvote | {{ votes.down_count }}
      {% elif votes.vote_obj.value == -1 %}
      %a.btn.small.indigo.lighten-5.blue-text{:id => "upvote_{{ answer.id }}" } Upvote | {{ votes.up_count }}
      %a.btn.small.z-depth-1.grey.lighten-3.grey-text{:id => "downvote_{{ answer.id }}" } Downvoted | {{ votes.down_count }}
      {% endif %}
	    
    .divider
    {% endfor %} 

{% endblock %}

{% block script %}

{% include 'quora/feed/voting.haml' with url="/vote/answer" %}

{% endblock %}
